<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>M.D.B.M.P | 数据库管理</title>
    <style>
        .table-tr {
            background-color: #b4c4d1 !important;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="/static/css/loading.css">
    <link rel="stylesheet" href="/static/css/plugins/ladda/ladda.min.css">
    <link rel="stylesheet" href="/static/css/plugins/ladda/ladda-themeless.min.css">
    <script src="/static/public_js/db_manage.js"></script>
    <script src="/static/js/random.js"></script>
    <script src="/static/js/loading.js"></script>
    <script src="/static/js/loading-fun.js"></script>
    <script src="/static/js/plugins/ladda/spin.min.js"></script>
    <script src="/static/js/plugins/ladda/ladda.min.js"></script>
    <script src="/static/js/plugins/ladda/ladda.jquery.min.js"></script>
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a href="/index/"><h1>M.D.B.M.P</h1></a>
                    </div>
                </li>
                {% for foo in menu_grouop_obj %}
                    <li class="sidebar">
                        <a href="{{ foo.group_url }}"><i class="fa {{ foo.group_icon }}"></i> <span
                                class="nav-label">{{ foo.group_name }}</span><span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            {% for fooo in menus_obj %}
                                {% if foo.id == fooo.menu_group_id %}
                                    <li><a href="{{ fooo.menu_url }}">{{ fooo.menu_name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li style="padding: 20px">
                        <span class="m-r-sm text-muted welcome-message"><i class="fa fa-user-o"> </i> {{ request.user }}，欢迎来到MySQL数据库管理平台</span>
                    </li>
                    <li style="padding: 10px;">
                        <span class="text-muted text-xs block">您的身份是：{{ identity }}</span>
                    </li>
                    <li>
                        <a href="/logout/">
                            <i class="fa fa-sign-out"></i> 注销
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>数据库管理</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/index/">信息总览</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>MySQL</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>数据库管理</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>数据库组</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <!-- Button trigger modal -->
                        <button id="b1" type="button" class="btn btn-primary btn-sm">删除数据库组</button>
                        <button id="b2" type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#addDbGroupModal">添加数据库组
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered" id="dbGroupTable" data-height="230">
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addDbGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">添加数据库组</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">组名</label>
                                <div class="col-lg-8"><input id="i1" type="text" class="form-control"
                                                             placeholder="请输入组名">
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">用途</label>
                                <div class="col-lg-8"><input id="i2" type="text" placeholder="请输入用途"
                                                             class="form-control">
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">标签</label>
                                <div class="col-lg-8"><input id="i3" type="text" placeholder="请输入标签"
                                                             class="form-control">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="b3" type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button id="b4" type="button" class="btn btn-primary" data-dismiss="modal">添加</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>数据库实例</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <!-- Button trigger modal -->
                        <button id="btn-addDbIns" type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#addDbInstanceModal">添加数据库实例
                        </button>
                        <div class="btn-group">
                            <button id="btn-start-stop" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false">停止/启动 <span class="fa fa-angle-double-down"></span></button>
                            <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 26px; left: 0px; will-change: top, left;">
                                <li><a id="a1" class="dropdown-item">启动数据库</a></li>
                                <li><a id="a2" class="dropdown-item">停止数据库</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button id="btn-del-logout" data-toggle="dropdown" class="btn btn-warning btn-sm dropdown-toggle" aria-expanded="false">注销/删除 <span class="fa fa-angle-double-down"></span></button>
                            <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 26px; left: 0px; will-change: top, left;">
                                <li><a id="a3" class="dropdown-item">注销数据库</a></li>
                                <li><a id="a4" class="dropdown-item">彻底删除数据库</a></li>
                            </ul>
                        </div>
                        <button id="btn-backup" type="button" class="btn btn-primary btn-sm">触发全备</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered" id="dbInstanceTable">
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addDbInstanceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">添加数据库实例</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">数据库组</label>
                                <div class="col-lg-9"><input disabled="disabled" id="i5" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">主机 IP</label>
                                <div class="col-lg-9">
                                    <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" data-size="5" id="s1">
                                        {% for server in server_obj %}
                                            <option data-subtext="{{ server.hostname }}" value="{{ server.id }}">{{ server.ip }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">MySQL版本</label>
                                <div class="col-lg-9">
                                    <select class="selectpicker form-control" data-live-search="true" data-size="5" id="s2">
                                        {% for foo in file %}
                                            <option  value="{{ foo.pack_name }}">{{ foo.pack_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">备份集</label>
                                <div class="col-lg-9">
                                    <select class="selectpicker form-control" data-live-search="true" data-size="5" id="s3">

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">实例名</label>
                                <div class="col-lg-9"><input id="i6" type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">MySQL端口号</label>
                                <div class="col-lg-9"><input id="i7" type="text" class="form-control"
                                                             placeholder="请输入MySQL端口号">
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">别名</label>
                                <div class="col-lg-9"><input id="i8" type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">MySQL用户</label>
                                <div class="col-lg-9"><input id="i9" type="text" class="form-control"
                                                             placeholder="请输入需要创建的MySQL超级用户名" value="root">
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">MySQL密码</label>
                                <div class="col-lg-9"><input id="i10" type="text" placeholder="请输入超级用户密码"
                                                             class="form-control">
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">高可用方式</label>
                                <div class="col-lg-9">
                                    <select class="selectpicker form-control" data-live-search="true" data-size="5" id="s4">
                                            <option value="主从复制-异步模式">主从复制-异步模式</option>
                                            <option value="主从复制-半同步模式">主从复制-半同步模式</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">安装绝对路径</label>
                                <div class="col-lg-9"><input id="i11" type="text" placeholder="请输入安装路径"
                                                             class="form-control">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="b5" type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button id="b6" type="button" class="btn btn-primary">添加</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="installBackupToolsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">安装备份工具</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">服务器IP</label>
                                <div class="col-lg-8"><input id="serverIp" disabled="disabled" type="text"
                                                             class="form-control">
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">安装绝对路径</label>
                                <div class="col-lg-8"><input id="rmanPath" type="text" placeholder="请输入备份工具安装路径"
                                                             class="form-control">
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-3 col-form-label">备份工具</label>
                                <div class="col-lg-8"><input  type="text" disabled="disabled"
                                                             value="Percona XtraBackup 2.4.14" class="form-control">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="btnInstallRmanCancel" type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button id="btnInstallRmanSubmit" class="ladda-button btn btn-primary" data-style="zoom-out"><span
                                        class="ladda-label">安装</span><span class="ladda-spinner"></span>
                                    <div class="ladda-progress" style="width: 0px;"></div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //bootstrap table 生成数据库实例表格开始
    function get_db_instance(group_id) {
        $("#dbInstanceTable").bootstrapTable('destroy');
        $('#dbInstanceTable').bootstrapTable({
            url: '/get_db_instance/?group_id=' + group_id,
            method: 'POST',
            pagination: false,
            clickToSelect: true,//单击选中
            paginationLoop: false,
            pageNumber: 1, //初始化加载第一页
            sidePagination: 'client',//server:服务器端分页|client：前端分页
            pageSize: 4,//单页记录数
            showRefresh: false,//刷新按钮
            //pageList: [5, 10, 15],//可选择单页记录数
            search: false,//搜索框
            onClickRow: function(row, $element){
                var server_id = row.server_id;
                var port = row.port;
                var group_id = row.group_id;
                if ($($element).is('.table-tr')) {
                    $($element).parent().children().removeClass("table-tr");
                    $("#btn-start-stop").prop('disabled', true);
                    $("#btn-del-logout").prop('disabled', true);
                    $("#btn-backup").prop('disabled', true);
                    $("#a1,#a2,#btn-backup").attr("data-server-id","");
                    $("#a1,#a2,#btn-backup").attr("data-port","0");
                }else{
                    $($element).parent().children().removeClass("table-tr");
                    $($element).addClass("table-tr");
                    $("#btn-start-stop").prop('disabled', false);
                    $("#btn-del-logout").prop('disabled', false);
                    $("#btn-backup").prop('disabled', false);
                    $("#a1,#a2,#btn-backup").attr("data-server-id",server_id);
                    $("#a1,#a2,#btn-backup").attr("data-port",port);
                }
            },
            columns: [{
                field: 'group_name',
                title: '数据库组名'
            }, {
                field: 'instance_id',
                title: '实例ID'
            }, {
                field: 'instance_alias',
                title: '实例别名'
            }, {
                field: 'port',
                title: '端口'
            }, {
                field: 'mysql_version',
                title: '安装版本'
            }, {
                field: 'high_availability',
                title: '高可用方式'
            }, {
                field: 'mysql_path',
                title: '安装路径'
            }, {
                title: '运行状态',
                formatter:function (value, row) {
                    var status = row.status;
                    if (status === '运行'){
                        return '<span class="label label-primary">'+status+'</span>'
                    }else {
                        return '<span class="label label-danger">'+status+'</span>'
                    }
                }
            }]
        });
    }
    //bootstrap table 生成数据库实例表格结束'
    //页面初始化数据库实例表开始
    get_db_instance(0);
    $("#a1,#a2").attr("data-group-id","0");
    //页面初始化数据库实例表结束
    //页面初始化禁用删除数据库组按钮
    $("#b1").prop("disabled", true);
    //页面初始化时禁用启动停止MySQL按钮
    $("#btn-start-stop").prop('disabled', true);
    $("#btn-del-logout").prop('disabled', true);
    $("#btn-backup").prop('disabled', true);
    //页面初始化时禁用添加数据库实例按钮
    $("#btn-addDbIns").prop("disabled", true);
    //页面初始化数据库组表开始
    $('#dbGroupTable').bootstrapTable({
        url: '/get_db_group/',
        method: 'POST',
        pagination: false,
        clickToSelect: true,//单击选中
        paginationLoop: false,
        pageNumber: 1, //初始化加载第一页
        sidePagination: 'client',//server:服务器端分页|client：前端分页
        pageSize: 5,//单页记录数
        pageList: [2, 5, 10],//可选择单页记录数
        showRefresh: false,//刷新按钮
        search: false,//搜索框
        onClickRow: function (row, $element) {
            var group_id = row.id;
            var group_name = row.group_name;
            var instance_number = row.instance_number;
            var mysql_id = 'mysql-' + randomWord(false, 8)
            if ($($element).is('.table-tr')) {
                $($element).parent().children().removeClass("table-tr");
                $("#dbInstanceTable").bootstrapTable('destroy');
                get_db_instance(0);
                $("#b1").val("");
                $("#i6").val("");
                $("#b1").prop("disabled", true);
                $("#btn-addDbIns").prop("disabled", true);
                $("#a1,#a2").attr("data-group-id","0");
            } else {
                $($element).parent().children().removeClass("table-tr");
                $($element).addClass("table-tr");
                get_db_instance(group_id);
                $("#b1").val(group_id);
                $("#i6").val(mysql_id);
                $("#b1").prop("disabled", false);
                $("#i5").val(group_name);
                $("#i5").attr("group_id",group_id);
                $("#a1,#a2").attr("data-group-id",group_id);
                $("#btn-addDbIns").prop("disabled", false);
                if (instance_number !== 0){
                    $("button[data-id='s3']").prop("disabled", false)
                }else {
                    $("button[data-id='s3']").prop("disabled", true);
                }
            }
        },
        columns: [{
            field: 'group_name',
            title: '数据库组名',
            width: '20%'
        }, {
            field: 'instance_number',
            title: '实例数',
            width: '20%'
        }, {
            field: 'group_label',
            title: '标签',
            width: '20%'
        }, {
            field: 'group_use',
            title: '用途',
            width: '20%'
        }, {
            field: 'date',
            title: '创建时间',
            width: '20%'
        }]
    });
    //页面初始化数据库组表结束
    //删除数据库组按钮点击事件
    $("#b1").on('click', function () {
        var group_id = $(this).val();
        console.log(group_id);
        swal({
                title: "你确定？",
                text: "你将无法恢复这个数据库组",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/delete_db_group/",
                        dataType: "json",
                        type: 'POST',
                        data: {
                            "group_id": group_id
                        },
                        success: function (data) {
                            if (data["status"] === 0) {
                                swal("失败", data["err_msg"], "error");
                            } else if (data["status"] === 1) {
                                swal("成功", "数据库组删除成功:)", "success");
                                $(".confirm").on('click', function () {
                                    location.href=data["url"]
                                })
                            }
                        }
                    })
                } else {
                    swal("取消", "这个数据库组是安全的:)", "error");
                }
            });
    });
    // 清除模态框input标签内容开始
    $("#b3").on('click', function () {
        $("#addDbGroupModal input").each(function () {
                $(this).val("")
            }
        );
    });
    $("#b5").on('click', function () {
        $("#addDbInstanceModal input:not('#i9'):not('#i5'):not('#i6')").each(function () {
                $(this).val("")
            }
        );
    });
    $("#btnInstallRmanCancel").on('click', function () {
        $("#rmanPath").val('')
    });
    // 清除模态框input标签内容结束
    $("#b4").on('click', function () {
        var group_name = $("#i1").val();
        var use = $("#i2").val();
        var label = $("#i3").val();
        if (! group_name) {
            layer.msg('组名不能为空', {time: 2000, icon: 2});
            return false;
        }else if(! use){
            layer.msg('用途不能为空', {time: 2000, icon: 2});
            return false;
        }else if(! label){
            layer.msg('标签不能为空', {time: 2000, icon: 2});
            return false;
        }else {
            $.ajax({
                url: '/add_db_group/',
                dataType: 'JSON',
                type: 'POST',
                data: {
                    "group_name": group_name,
                    "use": use,
                    "label": label
                },
                success: function (data) {
                    if(data["status"]===0){
                        layer.msg(data["err_msg"], {time: 2000, icon: 2});
                    }else if(data["status"]===1){
                        layer.msg("添加成功", {time: 2000, icon: 6});
                        setTimeout(function () {
                            location.href = data["url"]
                        }, 2000);
                    }
                }
            });
            return false;
        }
    });
    //填充别名开始
    $("#i7").blur(function(){
        var ip = $("#s1").find("option:selected").text();
        var port = $("#i7").val();
        $("#i8").val(ip+":"+port)
    });
    $("#s1").change(function(){
        var ip = $("#s1").find("option:selected").text();
        var port = $("#i7").val();
        $("#i8").val(ip+":"+port)
    });
    //填充别名结束
    //添加数据库实例按钮点击事件
    $("#b6").on('click', function () {
        var group_id = $("#i5").attr("group_id");
        var server_id = $("#s1").val();
        var pack_name = $("#s2").val();
        var backup_name = $("#s3").val();
        var ins_name = $("#i6").val();
        var port = $("#i7").val();
        var alias = $("#i8").val();
        var username = $("#i9").val();
        var password = $("#i10").val();
        var high_availability = $("#s4").val();
        var path = $("#i11").val();
        var portRegex = /^([0-9]|[1-9]\d{1,3}|[1-5]\d{4}|6[0-4]\d{4}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$/;
        var post_data = {
            "group_id": group_id,
            "server_id": server_id,
            "pack_name": pack_name,
            "backup_name" :backup_name,
            "ins_name": ins_name,
            "port": port,
            "alias": alias,
            "username": username,
            "password": password,
            "high_availability": high_availability,
            "path": path
        };
        if(! port){
            layer.msg('端口号不能为空', {time: 2000, icon: 2});
            return false;
        }else if(! portRegex.test(port)){
            layer.msg('端口号格式不正确', {time: 2000, icon: 2});
            return false;
        }else if(!username){
            layer.msg('MySQL超级用户不能为空', {time: 2000, icon: 2});
            return false;
        }else if(!password){
            layer.msg('MySQL超级用户的密码为空', {time: 2000, icon: 2});
            return false;
        }else if(!path){
            layer.msg('安装的绝对路径不能为空', {time: 2000, icon: 2});
            return false;
        } else {
            loading1();
            $("#addDbInstanceModal").modal("hide");
            $.ajax({
                url: '/install_mysql/',
                dataType: 'JSON',
                type: 'POST',
                data: post_data,
                success: function (data) {
                    if(data['status']===1||data['status']===2||data['status']===3||data['status']===4||data['status']===6||data['status']===7){
                        removeLoading('install');
                        layer.alert(data["err_msg"],{icon:3});
                    }else if(data["status"] === 5){
                        removeLoading('install');
                        layer.msg("创建数据库实例成功",{time:2000, icon:6});
                        setTimeout(function () {
                            location.href=data['url']
                        },2000);
                    }
                }
            })
        }
    });
    //启动数据库实例点击事件
    $("#a1").on('click', function () {
        var $this = $(this);
        var server_id = $this.attr("data-server-id");
        var port = $this.attr("data-port");
        var group_id = $this.attr("data-group-id");
        start_loading();
        $.ajax({
            url:'/start_mysql_ins/',
            type: 'POST',
            dataType: 'JSON',
            data: {
                "server_id": server_id,
                "port": port
            },
            success: function (data) {
                if(data['status']===1||data['status']===2||data['status']===3||data['status']===5){
                    removeLoading('start');
                    layer.msg(data["err_msg"], {time: 2000, icon: 2});
                }else {
                    removeLoading('start');
                    layer.msg("实例启动成功", {time: 2000, icon: 6});
                    get_db_instance(group_id)
                }
            }
        })
    });
    //停止数据库实例点击事件
    $("#a2").on('click', function () {
        var $this = $(this);
        var server_id = $this.attr("data-server-id");
        var port = $this.attr("data-port");
        var group_id = $this.attr("data-group-id");
        stop_loading();
        $.ajax({
            url:'/stop_mysql_ins/',
            type: 'POST',
            dataType: 'JSON',
            data: {
                "server_id": server_id,
                "port": port
            },
            success: function (data) {
                if(data['status']===1||data['status']===2||data['status']===3||data['status']===5){
                    removeLoading('stop');
                    layer.msg(data["err_msg"], {time: 2000, icon: 2});
                }else {
                    removeLoading('stop');
                    layer.msg("实例停止成功", {time: 2000, icon: 6});
                    get_db_instance(group_id);
                    $("#btn-start-stop").prop('disabled', true);
                }
            }
        })
    });
    $("#btn-backup").on('click', function () {
        var $this = $(this);
        var server_id = $this.attr("data-server-id");
        var port = $this.attr("data-port");
        $.ajax({
            url: '/get_rman_path/',
            dataType: 'JSON',
            type: 'POST',
            data: {
                "server_id": server_id
            },
            success: function (data) {
                if(data['status']===0){
                        $("#serverIp").val(data['ip']);
                        layer.msg('当前机器上未安装备份工具，请先安装',{time:3000, icon:3});
                        setTimeout(function () {
                            $("#installBackupToolsModal").modal('show')
                        },3000);
                }
            }
        })
    });
    $("#btnInstallRmanSubmit").on('click', function () {
        var l = $("#btnInstallRmanSubmit").ladda();
        l.ladda("start");
        setTimeout(function () {
            l.ladda("stop");
        },5000)
    })
</script>
<script src="/static/twofour.js"></script>
</body>
</html>
